<div class="page-header">
	<h1>Login Test</h1> <hr />
	<form id="loginfrm" action="/services/api/users/login.serv" method="post">
	<ul class="form">
		<li>
			<label for="user">
				User: 
				<input form="loginfrm" type="email" id="user" name="user" required="required" pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,6})" />
			</label>
		</li>
		<li><label for="password">Passowrd: <input form="loginfrm" type="password" id="password" name="password" required="required" /></label></li>
		<li><input form="loginfrm" type="submit" id="doLogin" value="Login" /> </li>
	</ul>
	</form>
</div>