<div class="page-header">
	<h1>Register Test</h1> <hr />
	<form id="loginfrm" action="/services/users/login.serv" method="post">
	<ul class="form">
		<li>
			<label for="user">
				User: 
				<input form="loginfrm" type="email" id="user" name="user" required="required" pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,6})" />
			</label>
		</li>
		<li><label for="password">Passowrd: <input type='password' id='password' name="password" required="required"></label></li>
		<li><label for="password">Confirm Passowrd: <input type='password' onfocus="checkPassword(document.getElementById('p1'), this);" oninput="checkPassword(document.getElementById('password'), this);"  required="required" /></label></li>
		<li><label for="password">Confirm Passowrd: <input type='password' onfocus="checkPassword(document.getElementById('p1'), this);" oninput="checkPassword(document.getElementById('password'), this);"  required="required" /></label></li>
		<li><input form="loginfrm" type="submit" id="doLogin" value="Login" /> </li>

	</ul>
	</form>
</div>
 <script>
   function checkPassword(p1, p2)
   {
     if (p1.value != p2.value) {
       p2.setCustomValidity('passwords do not match');
     } else {
       p2.setCustomValidity('');
     }
   }
 </script>